body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    max-width: 450px;
    width: 400%;
    display: flex;
    align-items: center;
}

img {
    max-width: 150px;
    border-radius: 8px;
    margin-right: 20px;
}

.item-details {
    text-align: left;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

.price {
    color: #e44d26;
    font-weight: bold;
    margin-top: 10px;
}
